<div class="col-xs-12 col-sm-10- col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
    <h2>Editar experiencia laboral</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>NOMBRE</label>
            <input type="text" class="form-control"
                id="nombre"
                [(ngModel)]="experiencia.experiencia_nombre"
                name="nombre">
        </div>
        <div class="form-group">
            <label>fecha</label>
            <input type="text" class="form-control"
                id="apellido"
                [(ngModel)]="experiencia.experiencia_fecha"
                name="apellido">
        </div>
        <div class="form-group">
            <label>url- imagen </label>
            <input type="text" class="form-control"
                id="imagen"
                [(ngModel)]="experiencia.experiencia_imagen"
                name="imagen">
        </div>
        
        <div class="form-group">
            <label>descripcion</label>
            <input type="text" class="form-control"
                id="mail"
                [(ngModel)]="experiencia.experiencia_descripcion"
                name="mail">
        </div>
        <button class="btn btn-success" >Guardar</button>
    </form>
</div>