<div class="col-md-6 offset-md-3">
    <h2>Edicion de proyecto</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nombre del proyecto</label>
            <input type="text" class="form-control"
                id="nombre"
                [(ngModel)]="proyecto.proyecto_nombre"
                name="nombre">
        </div>
        <div class="form-group">
            <label>fecha de realizacion </label>
            <input type="text" class="form-control"
                id="fecha"
                [(ngModel)]="proyecto.proyecto_fecha"
                name="fecha">
        </div>
        <div class="form-group">
            <label>Descripcion del proyecto</label>
            <input type="text" class="form-control"
                id="descripcion"
                [(ngModel)]="proyecto.proyecto_descripcion"
                name="descripcion">
        </div>
        <button class="btn btn-success" >Guardar</button>
    </form>
</div>