<div id="redesSociales">
    <a href="http://facebook.com/macky.rodriguez" target="_blank"><img src="../../../assets/imagenes/facebook.png" ></a>
    <a href="http://instagram.com/macky.rodriguez/" target="_blank"><img src="../../../assets/imagenes/instagram.png" ></a>
    <a href="https://github.com/MacarenaRodriguez1993" target="_blank"><img src="../../../assets/imagenes/github.png" ></a>
    <a href="https://www.linkedin.com/in/macarena-rodriguez-b7a47718b/" target="_blank"><img src="../../../assets/imagenes/linkedin.png" ></a>
    
    
</div>
