div{
    display: flex;
    justify-content: flex-end;
    margin-top: -80px;
}
a img{
    width:50px;
    padding: 4px;
}

@media (max-width:579px){
    #redesSociales{
        margin-top: 0.5px;
        justify-content: center;
    }
 
 }
