<div class="container" *ngFor="let persona of persona">
    <div class="row">
        <div class="col-4">
            <img src="../../../assets/imagenes/perfilnew.jpg" id="Perfil">
            
        </div>
      
        <div class="col-8" id="Descripcion">
           <a  *ngIf="isUserLoggedIn" class="icon edit btn btn-success"
            alt="Editar" title="Editar"data-original-title="Edit"
            (click)= "editarPerfil(persona.persona_id)">
            editar
            </a>
        
            <div>
                <h2>{{persona.persona_nombre}} {{persona.persona_apellido}}</h2>
               
            </div>
            <div>
                <h1>{{persona.persona_mail}}</h1>
               
                
            </div>
            
            <div>
                <h2>SOBRE MI</h2>
                <p >{{persona.persona_descripcion}}
                </p>
            </div>
        </div>
    </div>
</div>

