<div class="container" *ngFor="let persona of persona">
    <div class="row">
        <div id="fotoPerfil" class="col-xs-12 col-sm-5 col-md-5  col-lg-4 col-xl-4">
            <img class="img-fluid"src="../../../assets/imagenes/perfilnew.jpg" id="Perfil">
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8 col-xl-8" id="Informacion">
            <div id="nombrePerfil">
                <h2>{{persona.persona_nombre}} {{persona.persona_apellido}} 
                    <button id="botonEditar"
                        (click)= "editarPerfil(persona.persona_id)" 
                        *ngIf="isUserLoggedIn">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                </h2>
            </div>
            <div class="row" id="tituloPerfil">
                <h2>{{persona.persona_titulo}}</h2>  
            </div>
            <div id="descripcion">
                <h3>SOBRE MI :</h3>
                <p >{{persona.persona_descripcion}}
                </p>
            </div>
        </div>
    </div>
</div>

