<div class="container " >
    <h1>EXPERIENCIAS LABORALES <button *ngIf="isUserLoggedIn" class="btn btn-success">Agregar</button></h1>
    
    <div class="row" *ngFor="let experiencia of experiencia">
        <div class="col-4">
            <img src="../../../assets/imagenes/instagram.jpg" alt="">
        </div>
        <div class="col-1">
            <button *ngIf="isUserLoggedIn" class="btn btn-primary">editar</button>
            <button *ngIf="isUserLoggedIn" class="btn btn-danger">eliminar</button>
        </div>
       <div class="col-7">
            <div class="row">
                <div class="col-9">
                    <h2>{{experiencia.experiencia_nombre}}</h2>
                </div>
                <div class="col-3">
                    <h4>{{experiencia.experiencia_fecha}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>{{experiencia.experiencia_descripcion}}
                    </p>
                </div>
            </div>
       </div>
    </div>
    
</div>

