<div class="container ">
    <h1>PROYECTOS</h1>
    <div class="row" *ngFor="let proyect of proyect">
       <div class="col-7">
            <div class="row">
                <div class="col-8">
                    <h2>{{proyect.proyecto_nombre}}</h2>
                </div>
                <div class="col-4">
                    <h4>{{proyect.proyecto_fecha}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>{{proyect.proyecto_descripcion}}</p>
                    
                </div>
            </div>
       </div>
       <div class="col-5">
           <img  id="Proyecto1" src="../../../assets/imagenes/portfolio.png" alt="">
       </div>
    </div>
</div>