<div class="container" >
    <h1>HARD & SOFT SKILLS  <button *ngIf="isUserLoggedIn"class="btn btn-success">Agregar </button></h1>
    <div class="row">
        <div *ngFor="let tecno of tecnologia">
            <div class="card">
                <img src="{{tecno.tecnologia_imagen}}">
                <h1>{{tecno.tecnologia_nombre}}</h1>
                <h4>{{tecno.tecnologia_nivel}}<span>%</span></h4>
            </div>
            
            <button *ngIf="isUserLoggedIn" class="btn btn-primary">editar</button>
            <button (click)= "eliminarTecnologia(tecno.tecnologia_id)" *ngIf="isUserLoggedIn" class="btn btn-danger">eliminar</button>
        </div>
    </div>
</div>