<div class="container">
    <h1>HARD & SOFT SKILLS</h1>
    <div class="row">
        <div class="col-3">
            <circle-progress
            [percent]="90"
            [showTitle]="false"
            [radius]="100"
            [subtitle]="'HTML'"
            [showSubtitle]="true"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [titleFontSize]="'45'"
            [unitsFontSize]="'35'"
            [subtitleFontSize]="'45'"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [titleColor]="'#C7E596'"
            [unitsColor]="'#C7E596'"
            [backgroundPadding]="8"           
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
        <div class="col-3">
            <circle-progress
            [percent]="80"
            [showTitle]="false"
            [radius]="100"
            [subtitle]="'CSS'"
            [showSubtitle]="true"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [titleFontSize]="'45'"
            [unitsFontSize]="'35'"
            [subtitleFontSize]="'45'"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [titleColor]="'#C7E596'"
            [unitsColor]="'#C7E596'"
            [backgroundPadding]="8"           
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
        <div class="col-3">
            <circle-progress
            [percent]="65"
            [showTitle]="false"
            [radius]="100"
            [subtitle]="'JS'"
            [showSubtitle]="true"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [titleFontSize]="'45'"
            [unitsFontSize]="'35'"
            [subtitleFontSize]="'45'"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [titleColor]="'#C7E596'"
            [unitsColor]="'#C7E596'"
            [backgroundPadding]="8"           
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
        <div class="col-3">
            <circle-progress
            [percent]="75"
            [showTitle]="false"
            [radius]="100"
            [subtitle]="'Angular'"
            [showSubtitle]="true"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [titleFontSize]="'45'"
            [unitsFontSize]="'35'"
            [subtitleFontSize]="'45'"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [titleColor]="'#C7E596'"
            [unitsColor]="'#C7E596'"
            [backgroundPadding]="8"           
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <circle-progress
            [percent]="90"
            [showTitle]="false"
            [radius]="100"
            [subtitle]="'MySql'"
            [showSubtitle]="true"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [titleFontSize]="'45'"
            [unitsFontSize]="'35'"
            [subtitleFontSize]="'45'"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [titleColor]="'#C7E596'"
            [unitsColor]="'#C7E596'"
            [backgroundPadding]="8"           
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
        <div class="col-3">
            <circle-progress
            [percent]="80"
            [showTitle]="false"
            [radius]="100"
            [subtitle]="'SpringBoot'"
            [showSubtitle]="true"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [unitsFontSize]="'35'"
            [subtitleFontSize]="'30'"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [titleColor]="'#C7E596'"
            [unitsColor]="'#C7E596'"
            [backgroundPadding]="8"           
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
        <div class="col-3">
            <circle-progress
            [percent]="65"
            [showTitle]="false"
            [radius]="100"
            [subtitle]="'JAVA'"
            [showSubtitle]="true"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [titleFontSize]="'45'"
            [unitsFontSize]="'35'"
            [subtitleFontSize]="'45'"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [titleColor]="'#C7E596'"
            [unitsColor]="'#C7E596'"
            [backgroundPadding]="8"           
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
        <div class="col-3">
            <circle-progress
            [percent]="100"
            [showTitle]="false"
            [radius]="100"
            [subtitle]="'TrabajoEnEquipo'"
            [showSubtitle]="true"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [unitsFontSize]="'35'"
            [subtitleFontSize]="'23'"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [titleColor]="'#C7E596'"
            [unitsColor]="'#C7E596'"
            [backgroundPadding]="8"           
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <circle-progress
            [percent]="100"
            [showTitle]="false"
            [radius]="100"
            [subtitle]="'Responsabilidad'"
            [showSubtitle]="true"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [subtitleFontSize]="'23'"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
        <div class="col-3">

            <circle-progress
            [percent]="60"
            [showTitle]="false"
            [radius]="100"
            [subtitle]="'Ingles'"
            [showSubtitle]="true"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [unitsFontSize]="'35'"
            [subtitleFontSize]="'30'"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [titleColor]="'#C7E596'"
            [unitsColor]="'#C7E596'"
            [backgroundPadding]="8"           
            [animation]="true"
            [animationDuration]="800"
            ></circle-progress>
        </div>
    </div>
</div>