<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="../../../assets/imagenes/perfilnew.jpg" id="Perfil">
        </div>
        <div class="col-8" id="Descripcion">
            <h2>RODRIGUEZ MACARENA BELEN</h2>
            <h1>Full Stack Developer Jr</h1>
            <div>
                <h2>SOBRE MI</h2>
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sed tempore aliquam quis natus voluptas provident
                    doloremque maiores corrupti qui asperiores distinctio reiciendis quae iure odio, esse ipsa libero mollitia?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi labore, cum magnam laborum in esse ipsa est eveniet
                    ducimus odit ipsam vero veniam officia reiciendis odio itaque natus, dicta saepe?
                </p>
            </div>
        </div>
    </div>
</div>