body{
    background: #8E2DE2;  
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2); 
    color:#7dda0c;
    margin:0;
}
#card{
    background-color: #400ca0;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    margin-top: 23px;
    margin: 10px;
}

#card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}
