<div class="container ">
    <h1>EDUCACION<button *ngIf="isUserLoggedIn" id="botonAgregar" (click)= "agrergarNuevaEducacion()" ><i class="fa-solid fa-square-plus"></i></button></h1>
    <div class="row" id="card" *ngFor="let educacion of edu">
       <div class="col-6">   
            <div class="row">
                <div class="col-8">
                    <h2>{{educacion.educacion_establecimiento}}</h2>
                </div>
                <div class="col-4">
                    <h3>{{educacion.educacion_nombre}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>{{educacion.educacion_descripcion}}</p>
                </div>
            </div>
        </div>
        <div class="col-5">
            <img src="../../../assets/imagenes/facebook.jpg" alt="">
        </div>
        <div class="col-1">
            <button *ngIf="isUserLoggedIn" id="botonEditar"(click)= "editarEducacion(educacion.educacion_id)"><i class="fa-regular fa-pen-to-square"></i></button>
                <button *ngIf="isUserLoggedIn" id="botonEliminar"(click)= "eliminarEducacion(educacion.educacion_id)"><i class="fa-solid fa-trash-can"></i></button>
        </div>
    </div>
</div>